{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}

<div class="container" style="width: 80%;">
	<h1 class="text-center">Votre liste des annonces</h1>
	<div class="d-flex justify-around">
		{% for annonce in annonces %}
			<div class="card" style="width: 25rem;">
				<img class="card-img-top" src="{{asset('images_directory/' ~ annonce.imgfile )}}" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">{{annonce.title}}</h5>
					<p class="card-text">{{annonce.description|raw}}</p>
					<a href="{{ path('app_annonce_show', {'id' : annonce.id}) }}" class="btn btn-primary">Voir l'annonce</a>
				</div>
			</div>	
		{% endfor %}
		</div>
	<h1 class="text-center">Votre liste des favoris</h1>
	<div class="d-flex justify-around">
	{% for annonce in annoncesFav %}
			<div class="card" style="width: 25rem;">
				<img class="card-img-top" src="{{asset('images_directory/' ~ annonce.annonces.imgfile )}}" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">{{annonce.annonces.title}}</h5>
					<p class="card-text">{{annonce.annonces.description|raw}}</p>
					<a href="{{ path('app_annonce_show', {'id' : annonce.id}) }}" class="btn btn-primary">Voir l'annonce</a>			
				</div>				
			</div>
		{% endfor %}
	</div>
</div>{% endblock %}
